# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List Popular Data Science Programming Languages.
- List Popular Libraries used in Data Science.
- List Data Science Tools.
- Testing Some Arthimetric Operations.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy - numerical computing
2. Pandas - data manipulation
3. Matplotlib - data visualization
4. Scikit-learn - ML
5. TensorFlow - DL

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |
| Google Colab       |
| IBM Watson Studio  |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
print((3*4)+5) # it can be (3*4)+5 for notebooks only but in python we must use print function

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Mazen Adel Hassan